.button {
	padding: 15px;
	width: 100%;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.blue {
	background-color: #2196F3;
	color: #FFFFFF;
	border: 1px solid #2196F3;
}

.white {
	background-color: #FFFFFF;
	color: #4A4A4A;
	border: 1px solid #DFE5EC;
}