.main {
	display: grid;
	grid-template-columns: 232px 1fr;
	gap: 20px;
	align-items: start;
}

.bigButton {
	border-radius: 5px;
}

@media screen and (max-width: 762px) {
	.main {
		grid-template-columns: 1fr;
		grid-template-areas:
				'filter'
				'main';
	}

	.filter {
		grid-area: filter;
	}

	.main {
		grid-area: main;
	}
	
}